@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: violet;
}
button{
    cursor: pointer;
}
.main{
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.32);
    border-radius: 5px;
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    
}
div{
    margin: 7px;
}
.title{
    font-size: 30px;
    font-weight: 900;
    color: blue;
    height: 40px;
    
}
.main__input{
    margin: 0 10px;
}
input{
    width: 380px;
    height: 40px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.32) ;
    padding: 0 5px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.btn__add{
    background-color: blue;
    border-radius: 5px;
    border: none;
    color: white;
    height: 40px;
    width: 60px ;
    margin-left: 20px;
    font-weight: 550;
}
.btn__add:active{
    box-shadow:  0px 0px 5px 2px rgba(0,0,0,0.32) ;
}
.task{
    display: flex;
    justify-content: baseline;
    height: 40px;
    
}
.task__text{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}
.btn__icon{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border: none;
    background-color: white;
}
.icon{
    width: 20px;
    height: 20px;
}
p{
    height: 25px;
    width: 100% ;
}